input{
    height: 5vh;
    width: 10vw;
    font-size: 100%;
}
form{
    text-align: center;
}
.rubrik{
    font-size: 40px;
}
p{
    text-align: center;
    color:rgb(0, 256, 0);
    font-size: 100px;
}